* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

h1 {
  text-align: center;
}

.jumbotron {
  background-color: lightblue;
  color: red;
}

#navbar {
  position: relative;
  align-content: center;
  background: transparent;
}

body {
  background-color: lightsalmon;
  margin: 15px;
}

.row h2 {
  text-align: center;
}
.card {
  margin-bottom: 15px;
}
@media only screen and (max-width: 576px) {
  body {
    margin: 0;
  }
  .container {
    padding: 0;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  .col,
  .col-sm-4,
  .col-sm-8,
  .col-md-6,
  .col-md-2 {
    margin: 0;
    padding: 0;
  }
}
