.languageLogo {
    display: block;
    opacity: .85;
    margin-left: auto;
    margin-right: auto
}

img:hover {
    opacity: 0.85;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
@media only screen and (min-width: 769px) {
    .languageLogo {
        opacity: 0;
    }
}
@media only screen and (max-width: 768px) {
    .languageLogo {
        opacity: .85
    }
    .col-md-2 {
        margin: 10px
    }
  }