.jumbotron {
    /* background: url('../../assets/hacking.gif') ; */
    background-size: cover;
    height: 300px;
    background-position: center center;
    background: transparent
}

.card-header {
    text-align: center;
    
    color: white;
    margin: 0 auto;
    background: transparent;
}

.nav {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 100
}
